/* http://meyerweb.com/eric/tools/css/reset/ 
	 v2.0 | 20110126
	 License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
* === GENERAL CUSTOM STYLES ===
*/

/*
* === COLORS ===
*/
$turqGreen: #0FBDA3;
$darkBlue: #191741;
$lightPink: #FBBBC4;
$darkPink: #FC6681;
$lightViolet: #E0DEFD;
$darkViolet: #6C63FF;
$darkestViolet: #342D9C;

$boxShadow: 0px 3px 15px rgba(0,0,0,0.2);
$borderRadius: 10px;

body {
	font-family: Lato, sans-serif;
	font-size: 62.5%;
	line-height: 1.6rem;
	text-align: center;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1rem;
}

p {
	font-size: 1.1rem;
}

.title {
	padding: 1rem auto;
	padding-top: 3.5rem;
}
.title--white-bg * {
	color: $darkBlue;
}
.title--dark-bg * {
	color: white;
}
.title__h4 {
	font-size: 2.4rem;
	opacity: 0.5;
}
.title__h3 {
	font-size: 1.2rem;
	margin: 1rem auto 1.2rem auto;
}

h1, h2, h3, h4, h5, p, li, button {
	color: white;
}

.button {
	background: $turqGreen;
	padding: 0.7rem 1rem;
	border: none;
	border-radius: 2rem;
	width: 10rem;
	font-size: 1.3rem;
	cursor: pointer;
	transition: 0.3s ease;
	&:hover {
		border: 3px solid white;
		background: $darkPink;
	}
}

.button--color {
	margin-top: 1rem;
}

/*
* === header ===
*/
.header {
	background: $darkBlue;
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	position: fixed;
	width: 100%;
	z-index: 2;
}
.header__logo {
	display: flex;
	align-items: center;
}
.header__logo__img {
	margin-right: 1rem;
	height: 4rem;
}
.header__logo__name {
	font-size: 1.5rem;
}
.nav {
	display: flex;
	margin-left: 0rem;
}
.nav__list {
	background: $darkBlue;
	top: 55px;
	left: -26px;
	display: flex;
	align-items: center;
	margin-right: 2rem;
}
.nav_list__item {
	padding: 1rem;
}
.nav_list__link {
	text-decoration: none;
	font-size: 1.5rem;
	color: white;
}
.nav.open {
	margin-left: 0;
}
.button--nav {
	background: none;
	border: 3px solid white;
}
//mobile menu
.menu {
	width: 60px;
	height: 60px;
	position: relative;
	margin-right: 5rem;
	display: none;
}
.line {
	position: absolute;
	height: 3px;
	width: 100%;
	background: #fff;
	border-radius: 10px;
	transition: 0.5s ease-in-out;
}
.one {
	top: 20%;
	width: 80%;
	margin-right: 30px;
}
.two {
	top: 50%;
}
.three {
	top: 80%;
	width: 80%;
}
.menu.open .one {
 margin-left: 10px;
}
.menu.open .two {
	width: 80%;
}
.menu.open .three {
	margin-left: 10px;
}
.menu.open .line {
	background: $turqGreen;
}


/*
* === hero section ===
*/
#hero {
	padding: 1rem;
	padding-top: 8rem;
	background: $darkBlue;
}
.title--hero {
	padding-top: 1rem
}
.hero__text > h3 {
		font-size: 1.1rem;
		font-weight: 300;
}
.hero__img {
	height: 6rem;
	margin: 1.6rem auto auto 0.5rem;
}
.scroll__img {
	height: 2.3rem;
	grid-row: 2/3;
	grid-column: 1/-1;
	margin-top: 1rem;
}
.scroll-field {
	cursor: pointer;
}


/*
* === advices section ===
*/
#advices {
	background: white;
}
.advice__img {
	height: 150px;
}
.advices__tiles {
	display: flex;
	flex-direction: column;
}
.advice__tile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
	margin-bottom: 2rem;
	box-shadow: $boxShadow;
}
.advice__tile__first {
	background: $turqGreen;
}
.advice__tile__second {
	background: $lightViolet;
	h3, p {
		color: $darkBlue;
	}
}
.advice__tile__third {
	background: $darkViolet;
}
.advice__title {
	margin: 1.3rem auto;
}


/*
* === reviews section ===
*/
#reviews {
	font-weight: 300;
	background: $darkBlue;
}
.reviews__tiles {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	max-width: 1500px;
}
.reviews__tile {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 400px;
	margin: 0 auto;
	margin: auto 1rem;
}
.reviews__h4 {
	font-weight: 400;
	font-size: 1.6rem;
	margin: 1rem auto;
}
.reviews__h5 {
	font-size: 1.1rem;
	font-style: italic;
	margin-bottom: 0.7rem;
}
.review__img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	margin-top: 2rem;
}
.review__img--1 {
	background-image: url("../assets/people/person1.jpg");
}
.review__img--2 {
	background-image: url("../assets/people/person2.jpg");
}
.review__img--3 {
	background-image: url("../assets/people/person3.jpg");
}
.button--review {
	background: $darkViolet;
	margin: 3rem auto;
}

/*
* === steps ===
*/
#steps {
	background: white;
}
.steps__tiles {
	display: flex;
	flex-direction: column;
}
.steps__tile {
	max-width: 65rem;
	margin: 0 auto;
	padding: 1.2rem;
	&:last-child {
		margin-bottom: 2rem;
	}
}
.steps__img {
	height: 10rem;
}
.steps_tile_text {
	font-weight: 300;
	h4 {
		font-size: 1.7rem;
		color: $turqGreen;
		font-weight: 400;
	}
	p {
		margin: 1.5rem auto;
		color: $darkBlue;
	}
}
/*
* === stats section ===
*/
#stats {
	background: $darkViolet;
	padding: 0.5rem 2rem 3rem 2rem;
	display: flex;
	justify-content: center;
}
.stats__tiles {
	display: grid;
	max-width: 1600px;
	margin: 0 auto;
}
.stats__img {
	height: 80px;
	margin-top: 3.3rem;
}
.stats__title {
	margin: 1.5rem;
	font-size: 2.8rem;
	font-weight: bold;
}

/*
* === footer ===
*/
#page__footer {
	background: $darkBlue;
	line-height: 1.7rem;
	padding: 2rem 1rem;
	text-align: left;
}
.page__footer__inner {
	display: grid;
	justify-content: center;
	max-width: 1700px;
	margin: 0 auto;
}
.company-description {
	max-width:  26rem;
}
.footer__contact__img {
	height: 4rem;
}
.footer__list__item {
	display: flex;
	align-items: center;
	max-width: 26rem;
	margin-bottom: 1.5rem;
	h4 {
		margin-left: 1.3rem;
	}
}
.contact-details {
	max-width: 20rem;
}
.company-description {
	max-width: 30rem;
	p {
		font-weight: 300;
	}
}
.company-description__title {
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 0.7rem;
}
.social-icons {
	margin: 1rem auto 2rem auto;
}
.social-icons__img {
	height: 2.7rem;
	margin-right: 0.8rem;
	opacity: 0.7;
}
.small-footer {
	p {
		opacity: 0.7;
		font-size: 1rem;
	}
	a {
		&:link, &:visited {
		color:$turqGreen;
		text-decoration: none;
		}
	}
	.created-by {
		font-size: 0.8rem;
	}
}


/*
* === MEDIA QUERIES ===
*/
@media screen and (max-width: 930px) {
	.header {
		align-items: center;
	}
	.menu {
		display: block;
	}
	.nav {
		position: absolute;
		display: flex;
		margin-left: -60rem;
		transition: 0.5s ease-in;
		padding: 2rem;
		margin-top: 2rem;
	}
	.nav__list {
		background: rgba(25, 23, 65, 0.9);
		background: rgba(28, 117, 103, 0.95);
		flex-direction: column;
		position: absolute;
		width: 101vw;
	}
	.company-description__title {
		margin-top: 1.7rem;
	}
}


@media screen and (min-width: 931px) {
	//general
	.button {
		padding: 1rem 2rem;
		width: 15rem;
	}
	//hero
	.hero-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		max-width: 1300px;
		margin: 0 auto;
	}
	.scroll-field {
		grid-column: 1/-1;
		align-self: end;
		margin-top: 8rem;
	}
	.scroll__img {
		height: 3.1rem;
	}
	.hero__img {
		height: 20rem;
	}
	//reviews
	.reviews__tiles {
		flex-direction: row;
		justify-content: space-around;
	}
	//steps
	.steps__tile {
		display: flex;
		border: 1px solid #cecece;
		align-items: center;
		border-radius: $borderRadius;
		box-shadow: $boxShadow;
		margin-top: 2rem;
	}
	.steps_tile_text {
		margin: auto auto auto 5rem;
	}
	.steps__tile__second {
		flex-direction: row-reverse;
	}
	.steps__img {
		height: 15rem;
		margin: 1rem 5rem;
	}
	//footer
	#page__footer {
		padding: 3rem 1rem;
	}
	.page__footer__inner {
		grid-template-columns: 5rem 1fr 1fr 5rem;
		// grid-row: repeat(2, 1fr);
		justify-items: center;
	}
	.contact-details {
		grid-column: 2/3;
	}
	.company-description {
		grid-column: 3/4;
	}
	.small-footer {
		display: flex;
		justify-content: space-between;
		grid-row: 2;
		grid-column: 1/-1;
		margin-top: 2rem
	}
}

@media screen and (min-width: 1187px) {
//hero
	.hero__text > h3 {
			font-size: 1.4rem;
	}
//advices
	.advice__img {
		height: 200px;
		margin-bottom: 2.5rem;
	}
	.advices__tiles {
		flex-direction: row;
		max-width: 1300px;
		margin: 0 auto;
		align-items: center;
	}
	.advice__tile__first, .advice__tile__third {
		width: 30%;
		height: 30rem;
	}
	.advice__tile__second {
		width: 40%;
		height: 35rem;
	}
	#advices {
		margin: 2rem auto;
	}
//steps
	#steps {
		margin: 2rem auto;
	}
//stats
	.stats__tiles {
		grid-template-columns: repeat(5, 1fr);
	}
	.stats__tile {
		margin: auto 2rem;
	}
	.stats__h4 {
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 1240px) {
	//general
	.title__h4 {
		font-size: 4.7rem;
	}
	.title__h3 {
		font-size: 2rem;
		margin: 2rem auto 3rem auto;
	}
	//header
	.header__logo__img {
		height: 8rem;
	}
	.header__logo__name {
		font-size: 2.7rem;
		line-height: 3rem;
	}
	//hero
	#hero {
		padding-top: 15rem;
	}
}